{% extends "core/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<!-- 5階フロア -->
<section class="top-room-list mb-8 mt-2">
    <h2 class="text-xl font-bold text-gray-700 mb-4">5階フロア</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 ">
        {% for room in room_list %}
            {% if room.floor == 5 %}
            <a href="{% url 'room' room.pk %}" class="bg-cyan-600 text-white rounded-lg shadow-md overflow-hidden">
                <div class="p-4 font-medium">{{ room }}</div>
                <div class="px-4 py-2 flex items-center justify-between">
                    <span class="text-sm">この会議室を予約</span>
                    <i class="fas fa-angle-right text-sm"></i>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</section>

<hr class="border-gray-300 mb-8">

<!-- 6階フロア -->
<section class="top-room-list mb-8">
    <h2 class="text-xl font-bold text-gray-700 mb-4">6階フロア</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
        {% for room in room_list %}
            {% if room.floor == 6 %}
            <a href="{% url 'room' room.pk %}" class="bg-sky-600 text-white rounded-lg shadow-md overflow-hidden ">
                <div class="p-4 font-medium">{{ room }}</div>
                <div class="px-4 py-2 flex items-center justify-between">
                    <span class="text-sm">この会議室を予約</span>
                    <i class="fas fa-angle-right text-sm"></i>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</section>

<hr class="border-gray-300 mb-8">

<!-- 7階フロア -->
<section class="top-room-list mb-8">
    <h2 class="text-xl font-bold text-gray-700 mb-4">7階フロア</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4">
        {% for room in room_list %}
            {% if room.floor == 7 %}
            <a href="{% url 'room' room.pk %}" class="bg-blue-600 text-white rounded-lg shadow-md overflow-hidden">
                <div class="p-4 font-medium">{{ room }}</div>
                <div class="px-4 py-2 flex items-center justify-between">
                    <span class="text-sm">この会議室を予約</span>
                    <i class="fas fa-angle-right text-sm"></i>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</section>

{% endblock content %}
